.racer_table td {
  background-color: white;
  height: 20px;
  width: 20px;
  border: solid;
}

.racer_table td.active {
  background-color: black;
  border: solid;
}

.winner {
  background-color: yellow;
}
