 <% @game.players.each_with_index do |player, index| %>
    <p id="<%= index+1 %>"><%= player.name %></p>
    <% end %> 

  <table class="racer_table">
    <tr id="player1_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <a href="file://localhost/Users/apprentice/Dropbox/DBC-Chicago/Grasshoppers/brettsanders/phase2/javascript_racer_1/racer.html">Play Again</a>

  
  
